.library {
  /* Grid container */
  display: grid;
  row-gap: min(6.25vw, 30px);
  font: 18px/1.35 Roboto, var(--page-fallbackFont-family);
}

.library__items {
  /* Reset default styles */
  list-style: none;
  margin: 0;
  padding: 0;
  /* Grid container */
  display: grid;
  gap: 10px;
  justify-items: center;
}

.library__heading {
  font: normal 30px/1.15 'Roboto Slab', var(--page-fallbackFont-family);
  grid-row-start: 1;
  margin: 0;
}

.library__button {
  justify-self: center;
  /* Other styles */
  background: #fff;
  border: none;
  border-radius: 80px;
  font-weight: 500;
  height: 56px;
  width: 288px;
  transition: opacity .5s;
}

.library__button:focus {
  outline: none;
}

.library__button:hover {
  cursor: pointer;
  opacity: .9;
}

@media screen and (min-width: 768px) {
  .library {
    row-gap: min(4vw, 65px);
  }

  .library__items {
    grid-template-columns: repeat(3, 1fr);
    gap: min(1.303vw, 15px);
  }

  .library__button {
    height: min(7.292vw, 64px);
    width: min(31.25vw, 288px);
  }
}

@media screen and (min-width: 1280px) {
  .library__heading {
    font-size: 40px;
  }
}
