.library {
  /* Grid container */
  display: grid;
}

.library_page_home {
  grid-template-rows: min-content 1fr;
  grid-auto-rows: min-content;
  row-gap: min(6.25vw, 30px);
}

.library_page_news {
  grid-template-rows: auto;
}

.library__items {
  /* Reset default styles */
  list-style: none;
  margin: 0;
  padding: 0;
  /* Grid container */
  display: grid;
  gap: 10px;
  justify-items: center;
}

.library__heading {
  font: normal 26px/1.15 'Roboto Slab';
  margin: 0;
  text-align: center;
}

.library__heading_page_home {
  font-size: 30px;
  text-align: left;
}

.library__heading_page_news {
  display: none;
}

.library__button {
  justify-self: center;
  /* Other styles */
  background: #fff;
  border: none;
  border-radius: 80px;
  font: 500 18px/1.35 Roboto;
  height: 56px;
  width: 288px;
  transition: opacity .5s;
}

.library__button:focus {
  outline: none;
}

.library__button:hover {
  cursor: pointer;
  opacity: .9;
}

.library__icon {
  background: url(../../images/library/icon_not-found.svg) no-repeat center;
  height: 96px;
}

.library__msg {
  color: #b6bcbf;
  font: 18px/1.35 Roboto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .library_page_home {
    row-gap: 3.906vw;
  }

  .library__items {
    grid-template-columns: repeat(3, 1fr);
    gap: min(1.303vw, 15px);
  }

  .library__item {
    height: 55vw;
    width: 30vw;
  }

  .library__button {
    height: min(7.292vw, 64px);
    width: min(31.25vw, 288px);
  }
}

@media screen and (min-width: 1280px) {
  .library_page_home {
    row-gap: 65px;
  }

  .library__heading {
    font-size: 40px;
  }
}
